<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TrabalhoFinal-6N1-WebPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>jdbc/trabalhofinal-6N1</jta-data-source>
    <class>br.edu.ifsul.modelo.Clinica</class>
    <class>br.edu.ifsul.modelo.Medico</class>
    <class>br.edu.ifsul.modelo.Paciente</class>
    <class>br.edu.ifsul.modelo.Receita</class>
    <class>br.edu.ifsul.modelo.Remedio</class>    
    <properties>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform"/>
      <property name="hibernate.classloading.use_current_tccl_as_parent" value="false"/>       
    </properties>
  </persistence-unit>
</persistence>
